@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8348B7;
    background: url(./img/Brown\ Illustrative\ International\ Youth\ Day\ Instagram\ Post\ \(1\)\ 1.png) no-repeat center center fixed;
    background-size: 100%; /* Reduz o tamanho da imagem para 50% */
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 9rem;
}

.form {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}

.form-header {
    margin-bottom: 1rem;
   
}
.form-header h1 {
    font-size: 46px;
    padding: 7%;
    font-weight: 700;

}

    
.form-header h2 {
    font-size: 16px;
    font-weight:500;
    text-align: center;
    padding: 2rem;
}

.form-header h1::after{
    content:'';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #134A28;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    padding: 1.5rem;  /* Diminui o padding para reduzir o espaço */
    font-size: 14px;  /* Mantém o tamanho da fonte */
}

.input-box input {
    width: 100%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    height: 40px;  /* Diminui a altura do input */
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #227040;
}

.continue-button button {
    width: 35%;
    margin-top: 1.5rem;
    margin-left: 1rem;  /* Alinha o botão à direita */
    border: none;
    background-color: #134A28;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.continue-button button:hover {
    background-color: #227040;
}

.continue-button button a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}